@tailwind base;
@tailwind components;
@tailwind utilities;

input:focus {
	outline: 4px solid #a2d2ff99;
}

textarea:focus {
	outline: 4px solid #a2d2ff99;
}

.own-pagination li {
	width: 40px !important;
	height: 40px;
	display: inline-grid;
	place-items: center;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 50%;
	cursor: pointer;
}

.own-pagination li:hover {
	background-color: #ff5a5f;
	color: #fff;
}

.own-pagination li.selected {
	background-color: #ff5a5f;
	color: #fff;
}
